<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1">
<meta name="keywords" content="LGBT,新宿2丁目,ゲイ,レズビアン,2chopo,にちょぽ">
<meta name="description" content="日本最大級のLGBT情報サイト2CHOPO（にちょぽ）。W編集長バブリーナ・キムビアンカが世界有数のゲイタウン新宿2丁目から「LGBTをありのままで生きる」をテーマに情報を発信するポータルサイトです。">
<meta name="author" content="WILD CARD">
<!-- OG -->
<meta property="og:title" content="新宿２丁目発！LGBTポータルサイト「2CHOPO（にちょぽ）」">
<meta property="og:description" content="日本最大級のLGBT情報サイト2CHOPO（にちょぽ）。W編集長バブリーナ・キムビアンカが世界有数のゲイタウン新宿2丁目から「LGBTをありのままで生きる」をテーマに情報を発信するポータルサイトです。">
<meta property="og:image" content="http://www.2chopo.com/common/img/ogimage.jpg">
<!-- OG END -->
<title>新宿２丁目発！LGBTポータルサイト「2CHOPO（にちょぽ）」</title>

<link href="static/pc/css/style.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
<header>
<h1>ワイルドカード株式会社の転職エージェントサービス</h1>
<!-- /header --></header>

<div class="contents">
<h2>無料会員登録 完了</h2>
<p class="lead">ご登録ありがとうございました。<br>折り返し、送信内容の確認メールをお送りいたしました。<br>
メールが届かない場合は、送信が完了していない可能性があります。<br>
お手数ではありますが、迷惑メールフォルダに振り分けられていないことをご確認の上、再度お問合せください。</p>
<p class="lead">送信いただいたメールは確認次第、担当者よりご連絡させていただきます。</p>
<p class="lead"><a href="index.html">≪ はじめのページへ戻る</a></p>
<!-- /contents --></div>
</body>

</html>

